firsf lesson
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"563a640e.18d59c","type":"inject","z":"31332582.eedb62","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["ef5b9760.862458"]]},{"id":"62383c65.3c5204","type":"http request","z":"31332582.eedb62","name":"Запрос в API","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11","tls":"","proxy":"","authType":"","x":580,"y":160,"wires":[["5f45f71d.aad2d8"]]},{"id":"ef245342.304a4","type":"debug","z":"31332582.eedb62","name":"Finish","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":160,"wires":[]},{"id":"ef5b9760.862458","type":"function","z":"31332582.eedb62","name":"Получаем дату","func":"var now = new Date();\nmsg.DateHW1 = now.getDate()+'-'+(now.getMonth()+1)+'-'+now.getFullYear()+'  '+now.getHours()+':'+now.getMinutes()+':'+now.getSeconds()\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["62383c65.3c5204"]]},{"id":"5f45f71d.aad2d8","type":"function","z":"31332582.eedb62","name":"Получаем курс валют","func":"for (var i=0;i<msg.payload.length;i++)\n    {\n        if (msg.payload[i].ccy==\"USD\")\n        {\n        msg.HW1 = \"Продажа - \" + msg.payload[i].sale + \" грн\"+ \", Покупка - \" + msg.payload[i].buy+ \" грн\"\n        }\n    }\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["ef245342.304a4"]]}]
