lessons1
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"563a640e.18d59c","type":"inject","z":"31332582.eedb62","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["ef5b9760.862458"]]},{"id":"62383c65.3c5204","type":"http request","z":"31332582.eedb62","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11","tls":"","proxy":"","authType":"","x":530,"y":160,"wires":[["5f45f71d.aad2d8"]]},{"id":"ef245342.304a4","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":160,"wires":[]},{"id":"ef5b9760.862458","type":"function","z":"31332582.eedb62","name":"","func":"msg.DateHW1=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["62383c65.3c5204"]]},{"id":"5f45f71d.aad2d8","type":"function","z":"31332582.eedb62","name":"","func":"msg.HW1=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[["ef245342.304a4"]]}]
