second lesson
[{"id":"7714730a.88e8ac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c590b8e3.936ee8","type":"debug","z":"7714730a.88e8ac","name":"Оператор Life","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":380,"wires":[]},{"id":"c5628b87.f059a8","type":"function","z":"7714730a.88e8ac","name":"Определяем оператора","func":"if (msg.maska=='093' || msg.maska=='063' || msg.maska=='073')\n        {   \n            msg.payload=msg.in.tel+' Оператор Life';\n            return [msg,null,null];\n        }\nelse if (msg.maska=='067' || msg.maska=='097' || msg.maska=='068' || msg.maska=='098')\n        {   \n            msg.payload=msg.in.tel+' Оператор Kyivstar';\n            return [null,msg,null];\n        } \nelse if (msg.maska=='095' || msg.maska=='066' || msg.maska=='099')\n        {\n            msg.payload=msg.in.tel+' Оператор Vodafone';\n            return [null,null,msg,null];\n        }\nelse {\n        msg.payload='Оператор '+msg.maska+' не найден';\n        return [null,null,null,msg];\n     }\n\n","outputs":4,"noerr":0,"x":650,"y":400,"wires":[["c590b8e3.936ee8","b3f1bd03.8a2ff"],["52ff3002.13e6d","b3f1bd03.8a2ff"],["b3f1bd03.8a2ff","372119cc.8e7036"],["b3f1bd03.8a2ff"]]},{"id":"dd624489.56a848","type":"http in","z":"7714730a.88e8ac","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["c4f3d8ef.9dd8a8"]]},{"id":"b3f1bd03.8a2ff","type":"http response","z":"7714730a.88e8ac","name":"выход","statusCode":"200","headers":{},"x":950,"y":320,"wires":[]},{"id":"e1bdd71e.7a7608","type":"debug","z":"7714730a.88e8ac","name":"Оператор не найден","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":280,"wires":[]},{"id":"52ff3002.13e6d","type":"debug","z":"7714730a.88e8ac","name":"Оператор Kyisvtar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":420,"wires":[]},{"id":"c4f3d8ef.9dd8a8","type":"function","z":"7714730a.88e8ac","name":"Берем СИД","func":"msg.in=msg.payload;\nmsg.sid=msg.payload.sid;\n/*msg.sid='191113csa1wzfu9ntxsa';*/\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["1da02b48.680e85"]]},{"id":"7a917bd9.c11e84","type":"debug","z":"7714730a.88e8ac","name":"Что то пошло не так","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":520,"wires":[]},{"id":"1da02b48.680e85","type":"http request","z":"7714730a.88e8ac","name":"Проверка ролей","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{sid}}}","tls":"","proxy":"","authType":"","x":450,"y":140,"wires":[["a34900a0.cf3a"]]},{"id":"d022696e.55f268","type":"http in","z":"7714730a.88e8ac","name":"","url":"/secondUnit","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1300,"wires":[["d4f53d0.aa48bc"]]},{"id":"3ab683ef.2e97dc","type":"function","z":"7714730a.88e8ac","name":"изменяем номер ","func":"if(msg.data.phone == \"\" || msg.data.phone == null){\n    msg.payload = \"Введи номер плиз.\"\n    return [null, msg]\n    }\n\nif(msg.data.phone[0] == 0){\n    msg.payload = `+38${msg.data.phone}` \n}else \n    if (msg.data.phone[0]== 3){\n        msg.payload = `+${msg.data.phone}`\n    }else \n        if(msg.data.phone[0] == 8){\n            msg.payload = `+3${msg.data.phone}`\n        }else{\n           msg.payload = \"шо за цифры, номер вводи !\" \n           return [null, msg]\n        }\n\n\n\nreturn msg;\n","outputs":2,"noerr":0,"x":341,"y":1416,"wires":[["583b5b8a.a8d234"],["d5fb233d.975d7"]]},{"id":"d4f53d0.aa48bc","type":"function","z":"7714730a.88e8ac","name":"Перезаписали данные","func":"msg.data = msg.payload;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":1300,"wires":[["b5ce3d04.ba1f7"]]},{"id":"b5ce3d04.ba1f7","type":"http request","z":"7714730a.88e8ac","name":"","method":"GET","ret":"txt","url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{data.sid}}}","tls":"","x":640,"y":1300,"wires":[["9505665b.73a488"]]},{"id":"9505665b.73a488","type":"xml","z":"7714730a.88e8ac","name":"","property":"payload","attr":"","chr":"","x":820,"y":1300,"wires":[["2956c214.11bb4e"]]},{"id":"2956c214.11bb4e","type":"function","z":"7714730a.88e8ac","name":"Разбираем сессию","func":"if (msg.payload.session !== undefined) {\n    var access_logins = [\"conveyor44641\", \"ivr\"];\nif(access_logins.indexOf(msg.payload.session.user[0].$.login) !== -1){\n    return [null,null,msg];\n}else if (access_logins.indexOf(msg.payload.session.user[0].$.login) === -1){\n    msg.payload = {\n        \"resultNPS\": \"error\",\n        \"error\": \"No access rights for your login\"\n    }\n    return [msg,null,null];\n}\n}else {\n    msg.payload = {\n        \"resultNPS\": \"error\",   \n        \"error\": \"wrong session format\"\n    }\n    return [null,msg,null];\n}","outputs":3,"noerr":0,"x":1010,"y":1300,"wires":[[],["230b653f.8e333a"],["38d1a14.9de315e"]]},{"id":"230b653f.8e333a","type":"function","z":"7714730a.88e8ac","name":"wrong session","func":"msg.payload = {\n    accessError: \"wrong session format\",\n    \"request\" : \"ERROR\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1280,"wires":[[]]},{"id":"38d1a14.9de315e","type":"link out","z":"7714730a.88e8ac","name":"","links":["48c0b0d1.44fec"],"x":1235,"y":1320,"wires":[]},{"id":"48c0b0d1.44fec","type":"link in","z":"7714730a.88e8ac","name":"","links":["38d1a14.9de315e"],"x":166,"y":1416,"wires":[["3ab683ef.2e97dc"]]},{"id":"d5fb233d.975d7","type":"http response","z":"7714730a.88e8ac","name":"","statusCode":"","headers":{},"x":801,"y":1456,"wires":[]},{"id":"583b5b8a.a8d234","type":"function","z":"7714730a.88e8ac","name":"Проверяем оператора","func":"\nlet operator;\nlet operators ={\n           \"Киевстар\":[\"039\",\"067\",\"068\",\"096\",\"097\",\"098\"],\n           \"Vodafone (МТС)\":[\"050\",\"066\",\"095\",\"099\"],\n           \"lifecell (life:))\":[\"063\",\"093\"],\n           \"Utel Украина\":[\"091\"],\n           \"PEOPLEnet Украина\":[\"092\"],\n           \"Интертелеком Украина\":[\"094\"]\n            };\n            \n            \nlet op = msg.payload.substr(3,3);\nfor (let key in operators){\nfor (let code in operators[key]){\nif(operators[key][code]===op){\noperator=key;\n}\n}}\n\nmsg.payload = operator;\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":1396,"wires":[["d5fb233d.975d7"]]},{"id":"78896feb.1a19e","type":"comment","z":"7714730a.88e8ac","name":"Как делать запрос?","info":"Пример запроса \n{\"phone\" : \"380634196539\",      // номер передается в любом формате +, 3, 8 или 0, проверка только на моб. оператора, не хочу лезть в регулярки ))\n\"sid\": \"191020csa1sjqsia6xen\"   // сид для авторизации использую твой\n}","x":610,"y":1340,"wires":[]},{"id":"8bf95757.0aed88","type":"function","z":"7714730a.88e8ac","name":"Разбор ответа","func":"if (msg.resurse.errorMessage !== undefined){\n    msg.payload=msg.resurse.errorMessage.$.text;\n    return [msg,null,null];\n}\nelse if (msg.resurse.session !== undefined){\n    if ((msg.resurse.session.user[0].$.login=='DN240389KVV') && (msg.resurse.session.$.state=='ACTIVE')){\n    //msg.payload='Доступ разрешен дял '+msg.resurse.session.user[0].$.login;\n    msg.vhod='yes';\n    return [null,null,msg];\n}\nelse if ((msg.resurse.session.user[0].$.login!=='DN240389KVV') && (msg.resurse.session.$.state=='ACTIVE'))\n        {\n        msg.payload='Доступ запрещен дял '+ msg.resurse.session.user[0].$.login;\n        return [null,msg,null];\n        }\n}","outputs":3,"noerr":0,"x":180,"y":220,"wires":[["823f20f8.5193b"],["90e536ae.5820c8"],["1623d62.821342a"]]},{"id":"a34900a0.cf3a","type":"xml","z":"7714730a.88e8ac","name":"","property":"payload","attr":"","chr":"","x":630,"y":140,"wires":[["8437583c.30e358"]]},{"id":"588ef0e1.24d7d","type":"link out","z":"7714730a.88e8ac","name":"","links":["1bd2b943.945f17"],"x":975,"y":140,"wires":[]},{"id":"e2040c33.a4fef","type":"catch","z":"7714730a.88e8ac","name":"","scope":null,"uncaught":false,"x":420,"y":520,"wires":[["440897c5.6afaa8"]]},{"id":"1bd2b943.945f17","type":"link in","z":"7714730a.88e8ac","name":"","links":["588ef0e1.24d7d"],"x":35,"y":220,"wires":[["8bf95757.0aed88"]]},{"id":"823f20f8.5193b","type":"http response","z":"7714730a.88e8ac","name":"Сессия не активна","statusCode":"200","headers":{},"x":650,"y":200,"wires":[]},{"id":"8437583c.30e358","type":"function","z":"7714730a.88e8ac","name":"Забираем овтет","func":"msg.resurse=msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["588ef0e1.24d7d"]]},{"id":"90e536ae.5820c8","type":"http response","z":"7714730a.88e8ac","name":"Доступ запрещен","statusCode":"200","headers":{},"x":650,"y":240,"wires":[]},{"id":"372119cc.8e7036","type":"debug","z":"7714730a.88e8ac","name":"Оператор Vodafone","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":460,"wires":[]},{"id":"440897c5.6afaa8","type":"function","z":"7714730a.88e8ac","name":"Код для ошибки","func":"msg.payload='Упс, что то пошло не так';\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["7a917bd9.c11e84","973fdf07.98fab"]]},{"id":"973fdf07.98fab","type":"http response","z":"7714730a.88e8ac","name":"Выход","statusCode":"200","headers":{},"x":950,"y":560,"wires":[]},{"id":"1623d62.821342a","type":"function","z":"7714730a.88e8ac","name":"Разбираем номер","func":"if((msg.in.tel.length==12) && (msg.in.tel[0]=='3')){\n    msg.maska=msg.in.tel.slice(2,5); \n    return[null,msg];\n}else \n    if ((msg.in.tel.length==11) && (msg.in.tel[0]=='8')){\n        msg.maska=msg.in.tel.slice(1,4);\n        return[null,msg];\n    }else \n        if(msg.in.tel.length==10 && msg.in.tel[0]=='0'){\n            msg.maska=msg.in.tel.slice(0,3);\n            return[null,msg];\n        }else{\n            msg.payload='Укажите телефон в формате +380ххххххххх';\n            return[msg,null];\n            }","outputs":2,"noerr":0,"x":350,"y":340,"wires":[["e1bdd71e.7a7608","b3f1bd03.8a2ff"],["c5628b87.f059a8"]]},{"id":"22d6bd04.4a4392","type":"http in","z":"7714730a.88e8ac","name":"","url":"/secondUnit","method":"post","upload":false,"swaggerDoc":"","x":130,"y":880,"wires":[["f75eb15d.b01dc"]]},{"id":"7b5b9ebb.58d5d","type":"function","z":"7714730a.88e8ac","name":"изменяем номер ","func":"if(msg.data.phone == \"\" || msg.data.phone == null){\n    msg.payload = \"Введи номер плиз.\"\n    return [null, msg]\n    }\n\nif(msg.data.phone[0] == 0){\n    msg.payload = `+38${msg.data.phone}` \n}else \n    if (msg.data.phone[0]== 3){\n        msg.payload = `+${msg.data.phone}`\n    }else \n        if(msg.data.phone[0] == 8){\n            msg.payload = `+3${msg.data.phone}`\n        }else{\n           msg.payload = \"шо за цифры, номер вводи !\" \n           return [null, msg]\n        }\n\n\n\nreturn msg;\n","outputs":2,"noerr":0,"x":341,"y":996,"wires":[["1184f51a.6ea44b"],["ef900511.f44518"]]},{"id":"f75eb15d.b01dc","type":"function","z":"7714730a.88e8ac","name":"Перезаписали данные","func":"msg.data = msg.payload;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":880,"wires":[["371a6f77.06f2e"]]},{"id":"371a6f77.06f2e","type":"http request","z":"7714730a.88e8ac","name":"","method":"GET","ret":"txt","url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{data.sid}}}","tls":"","x":640,"y":880,"wires":[["fc0a8a78.a05e68"]]},{"id":"fc0a8a78.a05e68","type":"xml","z":"7714730a.88e8ac","name":"","property":"payload","attr":"","chr":"","x":820,"y":880,"wires":[["65230d5d.01f8b4"]]},{"id":"65230d5d.01f8b4","type":"function","z":"7714730a.88e8ac","name":"Разбираем сессию","func":"if (msg.payload.session !== undefined) {\n    var access_logins = [\"conveyor44641\", \"ivr\"];\nif(access_logins.indexOf(msg.payload.session.user[0].$.login) !== -1){\n    return [null,null,msg];\n}else if (access_logins.indexOf(msg.payload.session.user[0].$.login) === -1){\n    msg.payload = {\n        \"resultNPS\": \"error\",\n        \"error\": \"No access rights for your login\"\n    }\n    return [msg,null,null];\n}\n}else {\n    msg.payload = {\n        \"resultNPS\": \"error\",   \n        \"error\": \"wrong session format\"\n    }\n    return [null,msg,null];\n}","outputs":3,"noerr":0,"x":1010,"y":880,"wires":[[],["7e05b9ce.dadf08"],["15b5761e.11e88a"]]},{"id":"7e05b9ce.dadf08","type":"function","z":"7714730a.88e8ac","name":"wrong session","func":"msg.payload = {\n    accessError: \"wrong session format\",\n    \"request\" : \"ERROR\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":860,"wires":[[]]},{"id":"15b5761e.11e88a","type":"link out","z":"7714730a.88e8ac","name":"","links":["72d4aa33.55cbc4"],"x":1235,"y":900,"wires":[]},{"id":"72d4aa33.55cbc4","type":"link in","z":"7714730a.88e8ac","name":"","links":["15b5761e.11e88a"],"x":166,"y":996,"wires":[["7b5b9ebb.58d5d"]]},{"id":"ef900511.f44518","type":"http response","z":"7714730a.88e8ac","name":"","statusCode":"","headers":{},"x":801,"y":1036,"wires":[]},{"id":"1184f51a.6ea44b","type":"function","z":"7714730a.88e8ac","name":"Проверяем оператора","func":"\nlet operator;\nlet operators ={\n           \"Киевстар\":[\"039\",\"067\",\"068\",\"096\",\"097\",\"098\"],\n           \"Vodafone (МТС)\":[\"050\",\"066\",\"095\",\"099\"],\n           \"lifecell (life:))\":[\"063\",\"093\"],\n           \"Utel Украина\":[\"091\"],\n           \"PEOPLEnet Украина\":[\"092\"],\n           \"Интертелеком Украина\":[\"094\"]\n            };\n            \n            \nlet op = msg.payload.substr(3,3);\nfor (let key in operators){\nfor (let code in operators[key]){\nif(operators[key][code]===op){\noperator=key;\n}\n}}\n\nmsg.payload = operator;\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":976,"wires":[["ef900511.f44518"]]},{"id":"fcbeae05.57835","type":"comment","z":"7714730a.88e8ac","name":"Как делать запрос?","info":"Пример запроса \n{\"phone\" : \"380634196539\",      // номер передается в любом формате +, 3, 8 или 0, проверка только на моб. оператора, не хочу лезть в регулярки ))\n\"sid\": \"191020csa1sjqsia6xen\"   // сид для авторизации использую твой\n}","x":610,"y":920,"wires":[]},{"id":"ad8dc4a7.d0e848","type":"comment","z":"7714730a.88e8ac","name":"","info":"Запрос get\n\n/test1?tel=380995583938&sid=191113csa1wzfu9ntxsa","x":80,"y":40,"wires":[]}]
