two lesson
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c8cee37d.1547a","type":"debug","z":"31332582.eedb62","name":"Оператор Life","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":980,"y":380,"wires":[]},{"id":"964f485e.fc5fc8","type":"function","z":"31332582.eedb62","name":"Определяем оператора","func":"msg.maska=msg.in.tel.slice(2,5);\nif ((msg.in.tel.length==12) && (msg.maska=='093' || msg.maska=='063' || msg.maska=='073'))\n        {   \n            msg.payload=msg.in.tel+' Оператор Life';\n            return [msg,null,null];\n        }\nelse if ((msg.in.tel.length==12) && (msg.maska=='067' || msg.maska=='097' || msg.maska=='068' || msg.maska=='098'))\n        {   \n            msg.payload=msg.in.tel+' Оператор Kyivstar';\n            return [null,msg,null];\n        } \nelse if ((msg.in.tel.length==12) && (msg.maska=='095' || msg.maska=='066' || msg.maska=='099'))\n        {\n            msg.payload=msg.in.tel+' Оператор Vodafone';\n            return [null,null,msg,null];\n        }\nelse {\n        msg.payload='Оператор '+msg.maska+' не найден';\n        return [null,null,null,msg];\n     }\n\n/*msg.operator = msg.in.tel.substring(2, 5);\nif (msg.operator = \"066\" || \"099\" || \"050\" || \"095\") {\n    msg.operator = \"Vodafone\"\n}\nif (msg.operator = \"067\" || \"068\" || \"096\" || \"097\" || \"098\") {\n    msg.operator = \"Киевстар\"\n}\nif (msg.operator = \"063\" || \"093\" || \"073\") {\n    msg.operator = \"Lifecell\"\n} else {\n    msg.operator = \"Операторов мобильной связи не определен\"\n}\nmsg.payload = msg.operator*/\n\n","outputs":4,"noerr":0,"x":630,"y":400,"wires":[["c8cee37d.1547a","67664ac4.8363b4"],["7b9a6e18.cf7e3","67664ac4.8363b4"],["67664ac4.8363b4","36cc0ed6.ba4e02"],["ab2e3288.245d1","67664ac4.8363b4"]]},{"id":"eee479bf.1d8d98","type":"inject","z":"31332582.eedb62","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[[]]},{"id":"aa6798fc.237cf8","type":"http in","z":"31332582.eedb62","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["5b933e3b.2be5e"]]},{"id":"67664ac4.8363b4","type":"http response","z":"31332582.eedb62","name":"выход","statusCode":"200","headers":{},"x":950,"y":300,"wires":[]},{"id":"ab2e3288.245d1","type":"debug","z":"31332582.eedb62","name":"Оператор не найден","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":540,"wires":[]},{"id":"7b9a6e18.cf7e3","type":"debug","z":"31332582.eedb62","name":"Оператор Kyisvtar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":420,"wires":[]},{"id":"5b933e3b.2be5e","type":"function","z":"31332582.eedb62","name":"Берем СИД","func":"msg.in=msg.payload;\nmsg.sid=msg.payload.sid;\n/*msg.sid='191107csb5hxmivab00o';*/\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["fba6928c.bc654"]]},{"id":"dc55181a.f73198","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":420,"wires":[]},{"id":"fba6928c.bc654","type":"http request","z":"31332582.eedb62","name":"Проверка ролей","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{sid}}}","tls":"","proxy":"","authType":"","x":450,"y":140,"wires":[["a00fbeee.864a8"]]},{"id":"cccfe1e3.10f64","type":"http in","z":"31332582.eedb62","name":"","url":"/secondUnit","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1300,"wires":[["a897c0c.a34594"]]},{"id":"c3907dfd.bf45f","type":"function","z":"31332582.eedb62","name":"изменяем номер ","func":"if(msg.data.phone == \"\" || msg.data.phone == null){\n    msg.payload = \"Введи номер плиз.\"\n    return [null, msg]\n    }\n\nif(msg.data.phone[0] == 0){\n    msg.payload = `+38${msg.data.phone}` \n}else \n    if (msg.data.phone[0]== 3){\n        msg.payload = `+${msg.data.phone}`\n    }else \n        if(msg.data.phone[0] == 8){\n            msg.payload = `+3${msg.data.phone}`\n        }else{\n           msg.payload = \"шо за цифры, номер вводи !\" \n           return [null, msg]\n        }\n\n\n\nreturn msg;\n","outputs":2,"noerr":0,"x":341,"y":1416,"wires":[["cee33d22.228e7"],["51f82f4f.12ba6"]]},{"id":"a897c0c.a34594","type":"function","z":"31332582.eedb62","name":"Перезаписали данные","func":"msg.data = msg.payload;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":390,"y":1300,"wires":[["e8c4d843.d2b598"]]},{"id":"e8c4d843.d2b598","type":"http request","z":"31332582.eedb62","name":"","method":"GET","ret":"txt","url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{data.sid}}}","tls":"","x":640,"y":1300,"wires":[["d9a01e0.a20f0e"]]},{"id":"d9a01e0.a20f0e","type":"xml","z":"31332582.eedb62","name":"","property":"payload","attr":"","chr":"","x":820,"y":1300,"wires":[["bc3dceb3.0a8d3"]]},{"id":"bc3dceb3.0a8d3","type":"function","z":"31332582.eedb62","name":"Разбираем сессию","func":"if (msg.payload.session !== undefined) {\n    var access_logins = [\"conveyor44641\", \"ivr\"];\nif(access_logins.indexOf(msg.payload.session.user[0].$.login) !== -1){\n    return [null,null,msg];\n}else if (access_logins.indexOf(msg.payload.session.user[0].$.login) === -1){\n    msg.payload = {\n        \"resultNPS\": \"error\",\n        \"error\": \"No access rights for your login\"\n    }\n    return [msg,null,null];\n}\n}else {\n    msg.payload = {\n        \"resultNPS\": \"error\",   \n        \"error\": \"wrong session format\"\n    }\n    return [null,msg,null];\n}","outputs":3,"noerr":0,"x":1010,"y":1300,"wires":[[],["2327fb25.ddb164"],["f92988cc.6ebc28"]]},{"id":"2327fb25.ddb164","type":"function","z":"31332582.eedb62","name":"wrong session","func":"msg.payload = {\n    accessError: \"wrong session format\",\n    \"request\" : \"ERROR\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1280,"wires":[[]]},{"id":"f92988cc.6ebc28","type":"link out","z":"31332582.eedb62","name":"","links":["fe385ac.cb536a8"],"x":1235,"y":1320,"wires":[]},{"id":"fe385ac.cb536a8","type":"link in","z":"31332582.eedb62","name":"","links":["f92988cc.6ebc28"],"x":166,"y":1416,"wires":[["c3907dfd.bf45f"]]},{"id":"51f82f4f.12ba6","type":"http response","z":"31332582.eedb62","name":"","statusCode":"","headers":{},"x":801,"y":1456,"wires":[]},{"id":"cee33d22.228e7","type":"function","z":"31332582.eedb62","name":"Проверяем оператора","func":"\nlet operator;\nlet operators ={\n           \"Киевстар\":[\"039\",\"067\",\"068\",\"096\",\"097\",\"098\"],\n           \"Vodafone (МТС)\":[\"050\",\"066\",\"095\",\"099\"],\n           \"lifecell (life:))\":[\"063\",\"093\"],\n           \"Utel Украина\":[\"091\"],\n           \"PEOPLEnet Украина\":[\"092\"],\n           \"Интертелеком Украина\":[\"094\"]\n            };\n            \n            \nlet op = msg.payload.substr(3,3);\nfor (let key in operators){\nfor (let code in operators[key]){\nif(operators[key][code]===op){\noperator=key;\n}\n}}\n\nmsg.payload = operator;\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":1396,"wires":[["51f82f4f.12ba6"]]},{"id":"5ccdef88.5096b","type":"comment","z":"31332582.eedb62","name":"Как делать запрос?","info":"Пример запроса \n{\"phone\" : \"380634196539\",      // номер передается в любом формате +, 3, 8 или 0, проверка только на моб. оператора, не хочу лезть в регулярки ))\n\"sid\": \"191020csa1sjqsia6xen\"   // сид для авторизации использую твой\n}","x":610,"y":1340,"wires":[]},{"id":"883f768a.9a31b8","type":"function","z":"31332582.eedb62","name":"Разбор ответа","func":"if (msg.resurse.errorMessage !== undefined){\n    msg.payload=msg.resurse.errorMessage.$.text;\n    return [msg,null,null];\n}\nelse if (msg.resurse.session !== undefined){\n    if ((msg.resurse.session.user[0].$.login=='DN240389KVV') && (msg.resurse.session.$.state=='ACTIVE')){\n    //msg.payload='Доступ разрешен дял '+msg.resurse.session.user[0].$.login;\n    msg.vhod='yes';\n    return [null,null,msg];\n}\nelse if ((msg.resurse.session.user[0].$.login!=='DN240389KVV') && (msg.resurse.session.$.state=='ACTIVE'))\n        {\n        msg.payload='Доступ запрещен дял '+ msg.resurse.session.user[0].$.login;\n        return [null,msg,null];\n        }\n}\n\n//return[msg];","outputs":3,"noerr":0,"x":260,"y":240,"wires":[["6ecbfb8d.a97e54"],["74afaa.f5185058"],["964f485e.fc5fc8"]]},{"id":"a00fbeee.864a8","type":"xml","z":"31332582.eedb62","name":"","property":"payload","attr":"","chr":"","x":630,"y":140,"wires":[["7f4d3784.c61858"]]},{"id":"6c2fc455.d6324c","type":"link out","z":"31332582.eedb62","name":"","links":["9fcc59f9.fe85a8"],"x":975,"y":140,"wires":[]},{"id":"dd4ddf6a.4c13","type":"catch","z":"31332582.eedb62","name":"","scope":null,"uncaught":false,"x":260,"y":320,"wires":[["dc55181a.f73198"]]},{"id":"9fcc59f9.fe85a8","type":"link in","z":"31332582.eedb62","name":"","links":["6c2fc455.d6324c"],"x":115,"y":240,"wires":[["883f768a.9a31b8"]]},{"id":"6ecbfb8d.a97e54","type":"http response","z":"31332582.eedb62","name":"Сессия не активна","statusCode":"200","headers":{},"x":590,"y":200,"wires":[]},{"id":"7f4d3784.c61858","type":"function","z":"31332582.eedb62","name":"","func":"msg.resurse=msg.payload;\n/*if (msg.resurse.errorMessage !== undefined){\n    msg.payload=msg.resurse.errorMessage.$.text;\n    return msg;\n}*/\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["6c2fc455.d6324c"]]},{"id":"d1ea331c.fe68d","type":"http response","z":"31332582.eedb62","name":"Доступ разрешен","statusCode":"200","headers":{},"x":590,"y":320,"wires":[]},{"id":"74afaa.f5185058","type":"http response","z":"31332582.eedb62","name":"Доступ запрещен","statusCode":"200","headers":{},"x":590,"y":240,"wires":[]},{"id":"36cc0ed6.ba4e02","type":"debug","z":"31332582.eedb62","name":"Оператор Vodafone","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":460,"wires":[]}]
